
@font-face {font-family: "iconfont";
  src: url('iconfont.eot?t=1494470959157'); /* IE9*/
  src: url('iconfont.eot?t=1494470959157#iefix') format('embedded-opentype'), /* IE6-IE8 */
  url('iconfont.woff?t=1494470959157') format('woff'), /* chrome, firefox */
  url('iconfont.ttf?t=1494470959157') format('truetype'), /* chrome, firefox, opera, Safari, Android, iOS 4.2+*/
  url('iconfont.svg?t=1494470959157#iconfont') format('svg'); /* iOS 4.1- */
}

.iconfont {
  font-family:"iconfont" !important;
  font-size:16px;
  font-style:normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-liangren:before { content: "\e652"; }

.icon-dongtai:before { content: "\e66f"; }

.icon-kongjian:before { content: "\e669"; }

.icon-xiaoxi:before { content: "\e628"; }

.icon-inbox:before { content: "\e64f"; }

.icon-kebiao:before { content: "\e61a"; }

.icon-qunzu:before { content: "\e653"; }

.icon-teacherchat:before { content: "\e7f1"; }

.icon-zhuanji:before { content: "\e62c"; }

.icon-rizhi:before { content: "\e650"; }

.icon-yingyong:before { content: "\e6c3"; }

.icon-banjitongzhi:before { content: "\e627"; }

.icon-wode:before { content: "\e633"; }

.icon-caipu:before { content: "\e62d"; }

.icon-zuoye:before { content: "\e681"; }

.icon-xuexiao:before { content: "\e625"; }

.icon-shouye:before { content: "\e61b"; }

.icon-banji:before { content: "\e61c"; }

.icon-wenda:before { content: "\e619"; }

.icon-gonggao:before { content: "\e63e"; }

.icon-conversation:before { content: "\e63a"; }

.icon-qunzu2:before { content: "\e66e"; }

.icon-xuesheng:before { content: "\e675"; }

.icon-chengji:before { content: "\e600"; }

.icon-zhaoren:before { content: "\e618"; }

.icon-zixun:before { content: "\e602"; }

.icon-group:before { content: "\e608"; }



